.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 15px;
}

.login {
    height: calc(100vh);
    display: flex;
    background-image: url(../../images/Tokyo.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.email {
    margin-bottom: 10px;
}

.password-signin {
    margin-bottom: 15px;
}

.username-signin {
    margin-bottom: 15px;
}

.copyright {
    color: black;
}

