.learn {
    width: 30%;
    float: left;
}

.picture {
    width: 70%;
}

.DisImg {
    aspect-ratio: 11/5;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.discovery {
    height: 500px;
}

.button {
    text-align: center;
    position: relative;
}

.click {
    padding: 15px 32px;
    font-size: 16px;
    display: inline-block;
    border: 3px solid #575757;
    background-color: transparent;
    color: #575757;
    font-weight: bold;
    border-radius: 10px;
}

.click:hover {
    background-color: #575757; /* Green */
    color: white;
}

.DisHead {
    text-align: center;
    color: aliceblue;
    position: relative;
    padding: 0 3vw 0;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

@media screen and (max-width: 770px) {
    .DisHead h1 {
        font-size: 16px;
    }

    /* .DisHeight {
        max-height: 200px;
    } */

    .DisImg {
        aspect-ratio: 11/9;
        object-fit: cover;
        max-height: 100%;
        max-width: 100%;
        position: relative;
    }

    .click {
        padding: 10px 15px;
        font-size: 10px;
        display: inline-block;
        border: 1px solid #575757;
        background-color: #575757;
        color: white;
        font-weight: bold;
        border-radius: 10px;
    }
}

@media screen and (min-width: 771px) {
    .DisHeight {
        max-height: 600px;
    }

    .about p {
        font-size: 2vw;
    }
}