.learn {
    width: 30%;
    float: left;
}

.picture {
    width: 70%;   
}

.DisImg { 
    aspect-ratio: 11/3;
    object-fit: cover;
    max-height: 100%; 
    max-width: 100%;
}

.discovery {
    height: 500px;
}

.button {
    text-align: center;
}

.DisHead {
    text-align: center;
    color: aliceblue;
}


