.userpic {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.username {
    color: aliceblue;
    font-size: 13;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.linkPage {
    margin-bottom: 0;
    display: inline-block;
}

.link {
    color: aliceblue;
    font-size: 13;
    margin-right: 10px;
    text-decoration: none;
}

li:not(:last-child){
    margin-right: 10px;
}

li {
    font-size: large;
    display: inline; 
    text-decoration: none;
}

ul {
    padding-left: 0!important;
}

.buttonUser {
    padding: 0!important;
}

.dropdown-menu {
    min-width: 100% !important;
}

@media screen and (max-width: 600px) {
    .user {
        max-width: 160px;
    }

    ul {
        padding-left: 0;
    }

    .linkPage {
        margin-top: 5px;
    }

    li {
        font-size: large;
        display: list-item; 
    }
}

@media screen and (min-width: 601px) {
    .user {
        max-width: 20%;
    }

    .dropdownUser {
        margin-right: 10px;
    }
    
}